/*
	Puzzle CSS
*/
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
	max-width: 100%;
}
table tr{
	width: 100%;
}
table td {
	width: 5em;
	height: 5em;
	border: 1px solid #cdcdcd;
	padding: 0;
	margin: 0;
	background-color: #333;
	position: relative;
}
		
td input {
	width: 100%;
	height: 100%;
	padding: 0em;
	border: none;
	text-align: center;
	font-size: 3em;
	color: #666;
	background-color: #f4f4f4;
}

td input:focus {
	background-color: #fff;
}

td span {
	color: #444;
	font-size: 0.8em;
	position: absolute;
	top: -1px;
	left: 1px;
}

input.done {
	font-weight: bold;
	color: green;
}

.active,
.clues-active {
	background-color: #ddd;
}
.clue-done {
	color: #999;
	text-decoration: line-through;
}

#puzzle-wrapper {
	float:left;
	width: 50%;
	margin-left: 5%;
	margin-bottom: 5%;
}

#puzzle-clues {
	float: left;
	width: 40%;
	margin-left: 3%;
	padding-left: 2%;
	z-index: 10;
	background: #f3f3f3;

	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	padding: 1% 3% 1% 3%;
}

#puzzle-clues li{
	font-size: 1.2em;
	margin: .3em;
	line-height: 1.6em;
}

/** Generic page CSS */
section {
	margin-top: 5%;
}